.#{$rt-namespace}__close-button {
  color: $white;
  font-size: 14px;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
  position: absolute;
  top: 5px;
  right: 9px;
  &--default {
    color: #000;
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}
